@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,500&display=swap');

.container{
    margin: 0 auto;
    width: 1024px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
}


.navigation__list{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgb(91, 91, 91);
    list-style: none;
}
    
 

.navigation__text{
  
    text-decoration: none;
    color: #e6e6e6;
}

.avatar{
border-radius: 20%;

}

.navigation__bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar__text{
   text-align: center;
}

.family__text{
    font-weight: 800;
}